[Unit]
Description=CAN-TCP Gateway Service
After=network.target

[Service]
Type=notify
NotifyAccess=all

WorkingDirectory=/opt/data_transport_test
ExecStart=/opt/data_transport_test/bin/data_transport_test

WatchdogSec=10
Restart=on-failure
RestartSec=5
TimeoutStartSec=15

AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW

PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/opt/data_transport_test/logs /opt/data_transport_test/config
ReadOnlyPaths=/opt/data_transport_test/html

StandardOutput=journal
StandardError=journal
SyslogIdentifier=data_transport_test

[Install]
WantedBy=multi-user.target
