[Unit]
Description=RK3588 CAN FD and TCP IP Communication Service
After=network.target

[Service]
Type=notify
NotifyAccess=all

WorkingDirectory=/opt/rk3588-canfd-and-tcp-ip-communication
ExecStart=/opt/rk3588-canfd-and-tcp-ip-communication/bin/rk3588-canfd-and-tcp-ip-communication

WatchdogSec=10
Restart=on-failure
RestartSec=5
TimeoutStartSec=15

AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW

PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/opt/rk3588-canfd-and-tcp-ip-communication/logs /opt/rk3588-canfd-and-tcp-ip-communication/config
ReadOnlyPaths=/opt/rk3588-canfd-and-tcp-ip-communication/html

StandardOutput=journal
StandardError=journal
SyslogIdentifier=rk3588-canfd-and-tcp-ip-communication

[Install]
WantedBy=multi-user.target
